@charset "utf-8";

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(../fonts/NanumBarunGothic.ttf);
    src: url(../fonts/NanumBarunGothic.eot);
    src: url(../fonts/NanumBarunGothic.woff);
    src: url(../fonts/NanumBarunGothic.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NanumBarunGothic'; 
}

ul,
li {
    list-style: none;
}

h1 {
    margin: 0;
}

h2 {
    text-decoration-skip-ink: none;
}

a {
    text-decoration: none;
}

button {
    /* border: none; background: none;
    text-indent: -9999px;*/
    cursor: pointer;
}

img {
    border: none;
}

html {
    font-size: 0.625rem;
}

#headWrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 45px;
    background-color: #000000;
}

.headInner {
    width: 86.667%;
    height: 100%;
    margin: 0 auto;
}

.headInner h1 a {
    position: absolute;
    width: 40px;
    height: 8px;
    transform: translateY(-50%);
    bottom: 50%;
}

#headWrap img {
    width: 100%;
}

#headWrap .blilnd {
    display: none;
}

#headWrap nav {
    display: none;
}

/*
.navInner ul ul{
    display: none;
}
*/
#menuicon {
    float: right;
    width: 18px;
    height: 10px;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    text-indent: -9999px;
    margin: 17px 0px;
}

#menuicon span {
    display: block;
    position: absolute;
    width: 18px;
    height: 0.5px;
    border-radius: 0.5px;
    background: white;
}

#menuicon :nth-child(1) {
    top: 0;
}

#menuicon :nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#menuicon :nth-child(3) {
    bottom: 0;
}

/*모바일 메뉴 창*/

#moblie_bt {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
}

.blilnd {
    display: none;
}

.moblie_menu ul ul {
    display: none;
}

#mobileWrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-color: #000000;
}

#mobileWrap a {
    position: absolute;
    width: 40px;
    height: 8px;
    transform: translateY(-50%);
    top: 50%;
    bottom: 0;
    left: 6.667%;
    /*50*/
}

#mobileWrap a img {
    width: 100%;
}

.searchOn {
    height: 0;
}

label {
    display: none;
}

.searchOn input {
    display: none;
}

.searchOn button {
    float: right;
    width: 100px;
    text-indent: -9999px;
    margin-right: 6.933%;
    border: none;
    background: none;
    text-indent: -9999px;
}

.searchOn img {
    float: right;
    width: 12px;
    height: 12px;
    margin: 15px 0px 0px 0px;
}

.searchOn hr {
    float: right;
    width: 100px;
    color: #ffffff;
    margin-top: 3px;
}

#close {
    float: right;
    margin: 17px 6.667% 0px 0px;
    width: 12px;
    height: 12px;
    position: relative;
    border: none;
    background: none;
    text-indent: -9999px;
}

#close span {
    position: absolute;
    display: block;
    width: 12px;
    height: 1px;
    border-radius: 0.5px;
    background: white;
}

#close :nth-child(1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#close :nth-child(2) {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.mobilebox {
    float: left;
    width: 100%;
    /*margin-top: 45px;*/
}

/*플러스 메뉴*/
.pluse {
    font-size: 1.8rem;
    color: #000000;
    font-weight: bold;
    margin-left: 5px;

}

.minuse {
    font-size: 1.8rem;
    color: #000000;
    font-weight: bold;
    display: none;
    margin-left: 5px;
}

.moblie_menu {
    width: 100%;
    height: 212px;
    cursor: pointer;
}

.moblie_menu ul {
    width: 100%;
    /*220*/
    height: 174px;
    /*348*/
    margin: 38px 0px 0px 6.667%;
}

.moblie_menu li a {
    font-size: 1.8rem;
    color: #000000;
    font-weight: bold;
}

.moblie_menu li>ul>li a {
    font-size: 1.7rem;
    color: #000000;
}

.moblie_menu li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.moblie_menu li:nth-child(2) {
    margin-top: 27px;
}

.moblie_menu li:nth-child(3) {
    margin-top: 27px;
}

.moblie_menu li:nth-child(4) {
    margin-top: 27px;
}

.moblieInner {
    margin-top: 50%;

    width: 100%;
    height: 146px;
    /*292*/
    margin-left: 6.667%;
}

.moblieInner li a {
    font-size: 1.3rem;
    color: #000000;
    font-weight: bold;
}

.moblieInner li:nth-child(1) {
    float: left;
    margin-right: 4px;
}

.moblieInner li:nth-child(2) {
    float: left;
    margin-right: 4px;
}

.moblieInner li:nth-child(4) {
    margin-top: 25px;
}

.moblieInner li:nth-child(5) {
    margin-top: 25px;
}

/* 모바일 메인 */
.section1 {
    margin-top: 45px;
    width: 100%;
    height: 902px;
    padding-top: 57px;
}

.section1 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 33px;
}

.brandWrap {
    width: 100%;
    height: 640px;
    /*1280*/
    background: #f2f2f2;
    padding: 25px 0px;
}

.brandInner {
    width: 86.667%;
    height: 590px;
    margin: 0 auto;
}

.brandSlide {
    width: 100%;
    height: 400px;
    border: 1px solid black;
}

/*메인사진 슬라이드 버튼 none*/
.brandSlide .slick-list {
    width: 100%;
}

.brandSlide .slick-prev {
    position: absolute;
    top: 0;
    border: none;
    background: none;
    color: transparent;
}

.brandSlide .slick-next {
    position: absolute;
    top: 0;
    border: none;
    background: none;
    color: transparent;
}

/*메인사진 슬라이드 바*/
.brandSlide .slick-dots {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 44px;
    height: 10px;
}

.brandSlide .slick-dots button {
    border: none;
    background: none;
    text-indent: -9999px;
}

.brandSlide .slick-dots li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgb(225, 225, 225, 0.5);
    border-radius: 50%;
}

.brandSlide .slick-dots li:nth-child(2) {
    margin: 0px 7px;
}

.brandSlide .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.brandSlide .slick-active button {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0, 0.5);
}

/*메인 슬라이드 사진*/
.brandSlide .slider1 {
    display: block;
    width: 100%;
    height: 400px;
    /*800*/
    background: url(../images/macbrand.png)no-repeat center/cover;
    background-position-x: 75%;
}

.brandSlide .slider2 {
    display: block;
    width: 100%;
    height: 400px;
    /*800*/
    background: url(../images/brand2.jpg)no-repeat center/cover;
    background-position-x: 70%;
}

.brandSlide .slider3 {
    display: block;
    width: 100%;
    height: 400px;
    /*800*/
    background: url(../images/brand.jpg)no-repeat center/cover;
    background-position-x: 50%;
}

.brandtxt {
    width: 100%;
    height: 175px;
    margin-top: 15px;
}

.brandtxt h3 {
    font-size: 1.6rem;
    height: 16px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.brandtxt strong {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 17px;
    font-weight: lighter;
}

.brandtxt p {
    font-size: 1.2rem;
    height: 65px;
    line-height: 1.4;
    margin-top: 15px;
}

.section2 {
    width: 100%;
    height: 1641px;
    /*3282*/
}

.section2 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}

.memberWrap {
    width: 100%;
    height: 1330px;
    /*2704*/
    margin-top: 131px;
    /*262*/
}

.macgirl {
    height: 45px;
    /*90*/
    text-align: center;
    margin-bottom: 142px;
}

.macgirl h3 {
    font-size: 1.7rem;
    font-weight: bolder;
}

.macgirl p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.memberInner {
    width: 100%;
    height: 1167px;
    /*2333*/
}

.svcWrap {
    width: 100%;
    height: 1118px;
    /*2253*/
}

.svcInner {
    width: 100%;
    height: 1118px;
    /*2253*/
}

.svcBox {
    float: left;
    width: 100%;
    height: 313px;
    /*625*/
}

.svcBox:nth-child(1) {
    margin-bottom: 100px;
}

.svcBox:nth-child(2) {
    margin-bottom: 100px;
}

.memboxWrap {
    float: left;
    width: 100%;
    height: 313px;
    /*625*/
}

.memboxInner1 {
    width: 86.667%;
    height: 275px;
    /*550*/
    margin: 0 auto;

}

.memboxInner1 h4 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
}

.memboxInner1 span {
    display: block;
    width: 100%;
    height: 238px;
    /*475*/
    background: url(../images/macaids.png)no-repeat center/cover;
    /*box-show : x축, y축, 그림자 두께, 그림자 색상, [그림자 방향]*/
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6);
}

.memboxInner2 {
    width: 86.667%;
    height: 275px;
    /*550*/
    margin: 0 auto;
}

.memboxInner2 h4 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
}

.memboxInner2 span {
    display: block;
    width: 100%;
    height: 238px;
    /*475*/
    background: url(../images/viva.jpg)no-repeat center/cover;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6);
}

.memboxInner3 {
    width: 86.667%;
    height: 275px;
    /*550*/
    margin: 0 auto;
}

.memboxInner3 h4 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
}

.memboxInner3 span {
    display: block;
    width: 100%;
    height: 238px;
    /*475*/
    background: url(../images/macpro.png)no-repeat center/cover;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6);
}

.background {
    width: 100%;
    height: 175px;
    margin-top: 138px;
    background: url(../images/background.jpg)no-repeat center/cover;
}

.proview {
    clear: both;
    width: 86.667%;
    height: 13px;
    margin: 0 auto;
}

.memberInner a {
    float: right;
    font-size: 1.3rem;
    color: #000;
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 25px;
}

.pcback {
    display: none;
}

.section3 {
    width: 100%;
    height: 1701px;
    /*3402*/
}

.section3 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 33px;
}

.busiWrap {
    width: 86.667%;
    height: 1431px;
    /*2861*/
    margin: 0 auto;
}

.busiInner {
    width: 100%;
    height: 421px;
    /*842*/
}

.busiInner:nth-child(2) {
    width: 100%;
    height: 380px;
    margin-top: 100px;
}

.busiInner:nth-child(3) {
    width: 100%;
    height: 405px;
    margin-top: 100px;
}

.busiInner:nth-child(1) span {
    display: block;
    background: url(../images/mackorea.jpg)no-repeat center/cover;
    width: 100%;
    height: 250px;
    /*500*/
    background-position-y: 30%;
}

.busiInner:nth-child(2) span {
    display: block;
    background: url(../images/work.jpg)no-repeat center/cover;
    width: 100%;
    height: 250px;
    /*500*/
}

.busiInner:nth-child(3) span {
    display: block;
    background: url(../images/members.jpg)no-repeat center/cover;
    width: 100%;
    height: 250px;
    /*500*/
}

.busitxt {
    width: 100%;
    /* 높이 286*/
    margin-top: 28px;
    /*55*/
}

.busitxt strong {
    font-size: 1.7rem;
}

.busitxt p {
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 20px 0px 10px;
}

.busitxt a {
    color: #000;
    font-size: 1rem;
    height: 10px;
    text-decoration: underline;
}

.section4 {
    width: 100%;
    height: 665px;
}

.section4 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 33px;
}

.testWrap {
    width: 86.667%;
    height: 424px;
    /*847*/
    margin: 0 auto;
}

.testInner {
    width: 100%;
    height: 157px;
    margin-bottom: 177px;
}

.testbox {
    float: left;
    width: 33.3%;
    height: 157px;
    /*313*/
    transition: .6s;
    cursor: pointer;
}

.testbox:hover {
    transform: translate(0, -10%);
}

.testbox:nth-child(1) span {
    display: block;
    width: 100%;
    height: 125px;
    background: url(../images/sic.png)no-repeat center/contain;
    background-size: 50px 60px;
}

.testbox:nth-child(2) span {
    display: block;
    width: 100%;
    height: 125px;
    background: url(../images/hand.png)no-repeat center/contain;
    background-size: 60px 60px;
}

.testbox:nth-child(3) span {
    display: block;
    width: 100%;
    height: 125px;
    background: url(../images/role.png)no-repeat center/contain;
    background-size: 70px 70px;
}

.testbox h4 {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 17px;
    font-weight: bold;
}

.test_txt {
    clear: both;
    width: 100%;
    height: 92px;
    /*184*/
    text-align: center;
}

.test_txt strong {
    font-size: 1.6rem;
    font-weight: bold;
}

.test_txt p {
    font-size: 1.3rem;
    line-height: 1.4;
    height: 47px;
    margin-top: 25px;
}

.section5 {
    width: 100%;
    height: 430px;
    /*804*/
}

.section5 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 33px;
}

.storeWrap {
    width: 100%;
    height: 208px;
    /*320*/
}

.storeBox {
    width: 86.667%;
    height: 208px;
    margin: 0 auto;

}

.storeslick {
    width: 80.461%;
    height: 208px;
    margin: 0 auto;
}

/* 스토어 슬라이드 막대기 none */
.storeslick .slick-dots li {
    position: absolute;
    top: 0;
}

.storeslick .slick-dots li button {
    border: none;
    background: none;
    color: transparent;
}

/* 스토어 슬라이드 버튼 */
.storeslick button {
    position: absolute;
    transform: translateY(-100%);
    top: 50%;
    border: none;
    text-indent: -9999px;
    width: 16px;
    height: 49px;
}

.storeslick .slick-next {
    right: -12%;
    width: 16px;
    height: 49px;
    background: url(../images/right.png)no-repeat center/contain;
}

.storeslick .slick-prev {
    width: 16px;
    height: 49px;
    background: url(../images/left.png)no-repeat center/contain;
    left: -12%;
    z-index: 10;
}

/* 스토어 사진*/
.storeInner {
    width: 100%;
    height: 208px;
}

.store1 {
    width: 100%;
    height: 208px;
}

.store1 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store1.jpg)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.store2 {
    width: 100%;
    height: 208px;
}

.store2 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store2.jpg)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.store3 {
    width: 100%;
    height: 208px;
}

.store3 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store3.jpg)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.store4 {
    width: 100%;
    height: 208px;
}

.store4 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store4.png)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.store5 {
    width: 100%;
    height: 208px;
}

.store5 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store5.jpg)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.store6 {
    width: 100%;
    height: 208px;
}

.store6 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store6.jpg)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.store7 {
    width: 100%;
    height: 208px;
}

.store7 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store7.webp)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.store8 {
    width: 100%;
    height: 208px;
}

.store8 span {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/store8.jpg)no-repeat center/cover;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

.storeInner h4 {
    font-size: 1.7rem;
    margin-top: 30px;
    text-align: center;
}

.storesearch {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 50px;
}

.storesearch p {
    margin: 0 auto;
    width: 48%;
    height: 15px;
    font-size: 1.3rem;
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
    font-weight: bold;
}

.storesearch a {
    color: #000;
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-position: under;
}

.storesearch a span {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url(../images/searchblack.png)no-repeat center/contain;
}

.foot {
    width: 100%;
    height: 175px;
    /*350*/
    background-color: #000000;
    padding-top: 33px;
}

.footWrap {
    width: 86.667%;
    height: 130px;
    margin: 0 auto;
}

.footInner ul li {
    display: none;
}

.ft_top {
    width: 100%;
    height: 80px;
}

.footWrap1 {
    float: left;
    width: 30%;
    /*190*/
    height: 80px;
    /*160*/
}

.footInner {
    width: 100%;
    height: 12px;
    margin-bottom: 10px;
}

.footInner a {
    color: white;
    font-size: 1.2rem;
    text-decoration: underline;
}

#ft_sns {
    float: right;
    width: 27%;
    /*82*/
    height: 58px;
}

.footWrap2 {
    float: right;
    width: 110px;
    height: 25px;
    border: 0.5px solid #ffffff;
    text-align: center;
    padding: 6px 0px;
}

.footWrap2 a {
    color: #ffffff;
    font-size: 1.2rem;
}

.footWrap2 a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.footWrap2 span {
    font-size: 1.2rem;
    color: #ffffff;
}

.footWrap3 {
    float: right;
    width: 82px;
    height: 24px;
    margin-top: 8px;
    text-indent: -9999px;
}

.footWrap3 a {
    float: left;
}

.footWrap3 a:nth-child(1) {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/instar.png)no-repeat center/cover;
}

.footWrap3 a:nth-child(2) {
    display: block;
    width: 10px;
    height: 20px;
    background: url(../images/facebook.png)no-repeat center/cover;
    margin: 0px 12px;
}

.footWrap3 a:nth-child(3) {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/utube.png)no-repeat center/cover;
}

.ft_bottom p {
    display: none;
}

.ft_bt {
    width: 100%;
    height: 15px;
    margin-top: 35px;
}

.ft_logo {
    width: 70px;
    height: 15px;
    margin: 0 auto;
}

.ft_logo a {
    display: block;
    width: 100%;
    background: url(../images/mac-logo-white.png)no-repeat center/contain;
    text-indent: -9999px;
}

.go_top {
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 14px 0px;
    position: fixed;
    right: 6.677%;
    bottom: 195px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.go_top.active {
    opacity: 1;
    visibility: visible;
}

.go_top p {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
}

/*768*/
@media screen and (min-width:768px) {

    #headWrap {
        width: 100%;
        height: 110px;
    }

    .headInner {
        width: 86.979%;
    }

    .headInner h1 a {
        width: 79px;
        height: 15px;
        top: 50%;
    }

    #menuicon {
        width: 35px;
        height: 20px;
        margin: 45px 0px;
    }

    #menuicon span {
        width: 35px;
        height: 2px;
    }

    /*모바일 메뉴창 768*/
    #moblie_bt {}

    #mobileWrap {
        width: 100%;
        height: 110px;
    }

    #mobileWrap a {
        width: 79px;
        height: 15px;
    }

    .searchOn button {
        width: 200px;
        height: 28px;
        margin: 44px 7.291% 0px 0px;
    }

    .searchOn img {
        width: 23px;
        height: 23px;
        margin: 0;
        margin-bottom: 4px;
    }

    .searchOn hr {
        width: 200px;
        margin-top: 0;
    }

    #close {
        width: 22px;
        height: 22px;
        margin: 44px 6.25% 0px 0px;
    }

    #close span {
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: white;
    }

    .mobilebox {}

    .moblie_menu {
        width: 100%;
        height: 445px;
    }

    .moblie_menu ul {
        width: 40%;
        height: 272px;
        margin: 75px 0px 0px 6.510%;
    }

    .moblie_menu li a {
        font-size: 3.3rem;
        height: 30px;
    }

    .moblie_menu li:nth-child(2) {
        margin-top: 42px;
    }

    .moblie_menu li:nth-child(3) {
        margin-top: 42px;
    }

    .moblie_menu li:nth-child(4) {
        margin-top: 42px;
    }

    .moblieInner {
        height: 170px;
        margin-left: 6.510%;
    }

    .moblieInner li a {
        font-size: 2.5rem;
    }

    .moblieInner li:nth-child(1) {
        float: left;
        margin-right: 11px;
    }

    .moblieInner li:nth-child(2) {
        float: left;
        margin-right: 11px;
    }

    .moblieInner li:nth-child(4) {
        margin-top: 43px;
    }

    .moblieInner li:nth-child(5) {
        margin-top: 43px;
    }

    /*768 메인*/
    .section1 {
        margin-top: 110px;
        height: 1803px;
        padding-top: 113px;
    }

    .section1 h2 {
        font-size: 5rem;
        margin-bottom: 65px;
    }

    .brandWrap {
        height: 1200px;
        padding: 50px 0px;
    }

    .brandInner {
        width: 86.979%;
        height: 1098px;
    }

    .brandSlide {
        width: 100%;
        height: 800px;
    }

    /* 768 메인사진 슬라이드 바*/
    .brandSlide .slick-dots {
        bottom: 12px;
        width: 73px;
        height: 15px;
    }

    .brandSlide .slick-dots li {
        width: 15px;
        height: 15px;
    }

    .brandSlide .slick-dots li:nth-child(2) {
        margin: 0px 14px;
    }

    .brandSlide .slick-dots li button {
        width: 15px;
        height: 15px;
    }

    .brandSlide .slick-active button {
        width: 15px;
        height: 15px;
    }

    /* 768 메인 슬라이드 사진*/
    .brandSlide .slider1 {
        height: 800px;
        background-position-x: 70%;
    }

    .brandSlide .slider2 {
        height: 800px;
        background-position-x: 30%;
    }

    .brandSlide .slider3 {
        height: 800px;
    }

    .brandtxt {
        height: 270px;
        margin-top: 30px;
    }

    .brandtxt h3 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .brandtxt strong {
        font-size: 2.1rem;
        line-height: 1.7;
        font-weight: lighter;
    }

    .brandtxt p {
        font-size: 1.6rem;
        height: 84px;
        line-height: 1.8;
        margin-top: 30px;
    }

    .section2 {
        height: 3282px;
    }

    .section2 h2 {
        font-size: 5rem;
    }

    .memberWrap {
        margin-top: 262px;
        height: 2703px;
    }

    .macgirl {
        height: 90px;
        margin-bottom: 282px;
    }

    [data-trigger] {
        opacity: 0;
        position: relative;
        top: 20px;
        transition: 0.5s ease-out;
    }

    [data-trigger].animatedIn {
        opacity: 1;
        top: 0;
    }

    .macgirl h3 {
        font-size: 3.5rem;
    }

    .macgirl p {
        font-size: 3rem;
        margin-top: 20px;
    }

    .memberInner {
        height: 2330px;
    }

    .svcWrap {
        height: 2252px;
    }

    .svcInner {
        height: 2252px;
    }

    .svcBox {
        height: 624px;
    }

    .svcBox:nth-child(1) {
        margin-bottom: 200px;
    }

    .svcBox:nth-child(2) {
        margin-bottom: 200px;
    }

    .memboxWrap {
        height: 548px;
    }

    .memboxInner1 {
        width: 86.979%;
        height: 548px;

    }

    .memboxInner1 h4 {
        font-size: 3rem;
        margin-bottom: 45px;
    }

    .memboxInner1 span {
        height: 475px;
    }

    .memboxInner2 {
        width: 86.979%;
        height: 548px;
    }

    .memboxInner2 h4 {
        font-size: 3rem;
        margin-bottom: 45px;
    }

    .memboxInner2 span {
        height: 475px;
    }

    .memboxInner3 {
        width: 86.979%;
        height: 548px;
    }

    .memboxInner3 h4 {
        font-size: 3rem;
        margin-bottom: 45px;
    }

    .memboxInner3 span {
        height: 475px;
    }

    .background {
        height: 350px;
        margin-top: 275px;
    }

    .proview {
        width: 86.979%;
    }

    .memberInner a {
        font-size: 2.5rem;
        margin-top: 50px;
    }

    .section3 {
        height: 3402px;
    }

    .section3 h2 {
        font-size: 5rem;
        margin-bottom: 65px;
    }

    .busiWrap {
        width: 86.979%;
        height: 2861px;
    }

    .busiInner {
        height: 842px;
    }

    [trigger] {
        opacity: 0;
        position: relative;
        right: -80px;
        transition: 0.5s ease-out;
    }

    [trigger].animatedIn {
        opacity: 1;
        right: 0;
    }

    [trigger-image] {
        opacity: 0;
        position: relative;
        bottom: -80px;
        transition: 0.5s ease-out;
    }

    [trigger-image].animatedIn {
        opacity: 1;
        bottom: 0;
    }

    .busiInner:nth-child(2) {
        height: 765px;
        margin-top: 200px;
    }

    .busiInner:nth-child(3) {
        height: 815px;
        margin-top: 200px;
    }

    .busiInner:nth-child(1) span {
        height: 500px;
    }

    .busiInner:nth-child(2) span {
        height: 500px;
    }

    .busiInner:nth-child(3) span {
        height: 500px;
    }

    .busitxt {
        margin-top: 55px;
    }

    .busitxt strong {
        font-size: 3.1rem;
    }

    .busitxt p {
        font-size: 2.5rem;
        line-height: 1.6;
        margin: 40px 0px 30px;
    }

    .busitxt a {
        font-size: 2rem;
    }

    .section4 {
        height: 1330px;
    }

    .section4 h2 {
        font-size: 5rem;
        margin-bottom: 65px;
    }

    .testWrap {
        width: 86.979%;
        height: 846px;
    }

    .testInner {
        height: 310px;
        margin-bottom: 352px;
    }

    .testbox {
        width: 33.3%;
        height: 310px;
    }

    .testbox:nth-child(1) span {
        height: 250px;
        background-size: 80px 90px;
    }

    .testbox:nth-child(2) span {
        height: 250px;
        background-size: 100px 100px;
    }

    .testbox:nth-child(3) span {
        height: 250px;
        background-size: 100px 100px;
    }

    .testbox h4 {
        margin-top: 39px;
        font-size: 2.4rem;
    }

    .test_txt {
        height: 183px;
    }

    .test_txt strong {
        font-size: 2.8rem;
    }

    .test_txt p {
        font-size: 2.1rem;
        margin-top: 60px;
    }

    .section5 {
        height: 850px;
    }

    .section5 h2 {
        font-size: 5rem;
        margin-bottom: 65px;
    }

    .storeWrap {
        height: 415px;
    }

    .storeBox {
        width: 86.979%;
        height: 415px;
    }

    .storeslick {
        width: 80.538%;
        height: 415px;
    }

    /* 768 스토어 슬라이드 버튼 */
    .storeslick button {
        width: 34px;
        height: 98px;
    }

    .storeslick .slick-next {
        width: 34px;
        height: 98px;
        right: -12%;
    }

    .storeslick .slick-prev {
        width: 34px;
        height: 98px;
        left: -12%;
    }

    /* 768 스토어 사진*/
    .storeInner {
        height: 415px;
    }

    .storeInner span {
        height: 320px;
    }

    .store1 {
        height: 415px;
    }

    .store2 {
        height: 415px;
    }

    .store3 {
        height: 415px;
    }

    .store4 {
        height: 415px;
    }

    .store5 {
        height: 415px;
    }

    .store6 {
        height: 415px;
    }

    .store7 {
        height: 415px;
    }

    .storeInner h4 {
        font-size: 3rem;
        margin-top: 65px;
    }

    .storesearch {
        margin-top: 100px;
        height: 60px;
    }

    .storesearch p {
        font-size: 2.2rem;
        width: 57%;
        height: 25px;
        margin-bottom: 20px;
    }

    .storesearch a {
        font-size: 1.7rem;
    }

    .storesearch a span {
        width: 12px;
        height: 12px;
    }


    .foot {
        width: 100%;
        height: 350px;
        padding: 61px 0px 30px 0px;
    }

    .footWrap {
        width: 86.979%;
        height: 261px;
        margin: 0 auto;
    }

    .ft_top {
        height: 151px;
    }

    .footWrap1 {
        width: 30%;
        height: 151px;
    }

    .footInner {
        width: 100%;
        height: 18px;
        margin-bottom: 25px;
    }

    .footInner a {
        font-size: 1.8rem;
    }

    #ft_sns {
        width: 26%;
        height: 114px;
    }

    .footWrap2 {
        width: 152px;
        height: 40px;
        border: 2px solid #ffffff;
        padding: 9px 0px;
    }

    .footWrap2 a {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .footWrap2 span {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .footWrap3 {
        width: 166px;
        height: 48px;
        margin-top: 24px;
    }

    .footWrap3 a:nth-child(1) {
        width: 48px;
        height: 48px;
    }

    .footWrap3 a:nth-child(2) {
        width: 19px;
        height: 38px;
        margin: 4px 22px;
    }

    .footWrap3 a:nth-child(3) {
        width: 48px;
        height: 48px;
    }

    .ft_bt {
        height: 35px;
        margin-top: 73px;
    }

    .ft_logo {
        width: 160px;
        height: 35px;
    }

    .ft_logo a {
        width: 100%;
        height: 35px;
        background: url(../images/mac-logo-white.png)no-repeat center/contain;
    }

    .go_top {
        width: 70px;
        height: 70px;
        padding: 25px 0px;
        right: 6.510%;
        bottom: 405px;
    }

    .go_top p {
        font-size: 2rem;
    }

}

/*1024*/
@media screen and (min-width:1024px) {
    #headWrap {
        height: 110px;
    }

    .headInner {
        width: 90.234%;
    }

    .headInner h1 a {
        width: 130px;
        height: 29px;
    }

    #menuicon {
        width: 36px;
        height: 26px;
        margin: 42px 0px;
    }

    #menuicon span {
        width: 35px;
        height: 2px;
        border-radius: 1px;
    }

    /*모바일 메뉴창 1024*/
    #moblie_bt {}

    #mobileWrap {
        width: 100%;
        height: 110px;
        padding: 0px 4.882%;
    }

    #mobileWrap a {
        width: 130px;
        height: 29px;
        left: 4.882%;
    }

    .searchOn button {
        margin: 0;
        /*56*/
        margin: 44px 5.468% 0px 0px;
    }

    #close {
        margin: 44px 0px 0px 0px;
    }

    .mobilebox {}

    .moblie_menu ul {
        margin-left: 5.468%;
    }

    .moblie_menu li a {
        font-size: 3.5rem;
    }

    .moblieInner {
        margin-left: 5.468%;
    }

    .section1 {
        padding-top: 171px;
    }

    .brandInner {
        width: 90.234%;
        height: 1104px;
    }

    .brandInner span {
        height: 800px;
        background-position-x: 75%;
    }

    .brandtxt {
        margin-top: 50px;
        height: 250px;
    }

    .brandtxt h3 {
        font-size: 3.4rem;
        margin-bottom: 45px;
        height: 40px;
    }

    .brandtxt strong {
        line-height: 1.8;
        font-size: 2.3rem;
    }

    .brandtxt p {
        margin-top: 35px;
        line-height: 1.8;
        font-size: 1.5rem;
    }

    .section2 {
        height: 1660px;
    }

    .memberWrap {
        height: 1031px;
        margin-top: 161px;
    }

    .macgirl {
        height: 90px;
        margin-bottom: 125px;
    }

    .memberInner {
        float: left;
        height: 815px;
    }

    .svcWrap {
        height: 0px;
    }

    .svcInner {
        width: 90.234%;
        height: 545px;
        margin: 0 auto;
    }

    .svcInner h4 {
        font-size: 2.3rem;
        margin-bottom: 45px;
    }

    .svcBox {
        width: 30.303%;
        height: 545px;
    }

    .svcBox:nth-child(1) {
        margin-bottom: 0px;
    }

    .svcBox:nth-child(2) {
        margin-bottom: 0px;
        margin: 0px 4.5%;
    }

    .memboxWrap {
        width: 100%;
        height: 545px;
    }

    .background {
        display: none;
    }

    .memboxInner1 {
        width: 100%;
        height: 545px;
        margin: 0;
    }

    .memboxInner1 h4 {
        font-size: 2.5rem;
    }

    .memboxInner2 {
        width: 100%;
        height: 545px;
        margin: 0;
    }

    .memboxInner2 h4 {
        font-size: 2.5rem;
    }

    .memboxInner3 {
        width: 100%;
        height: 545px;
        margin: 0;
    }

    .memboxInner3 h4 {
        font-size: 2.5rem;
    }

    .pcback {
        display: block;
        width: 100%;
        height: 480px;
        background: url(../images/background.jpg)no-repeat center/cover;
        margin-top: 270px;
    }

    .proview {
        width: 90.234%;
    }

    .memberInner a {
        font-size: 2.1rem;
        margin-top: 40px;
    }

    .section3 {
        height: 3204px;
    }

    .busiWrap {
        width: 90.234%;
        height: 2664px;
    }

    .busiInner {
        float: left;
        width: 100%;
        height: 800px;
    }

    .busiInner:nth-child(2) {
        float: right;
        width: 66.341%;
        height: 852px;
        margin-top: 87px;
    }

    .busiInner:nth-child(3) {
        height: 838px;
        margin-top: 93px;
    }

    .busiInner:nth-child(1) span {
        float: left;
        width: 48.701%;
        height: 800px;
    }

    .busiInner:nth-child(2) span {
        width: 100%;
        height: 650px;
    }

    .busiInner:nth-child(3) span {
        width: 78.679%;
        height: 600px;
    }

    .busiInner:nth-child(1) .busitxt {
        float: right;
        width: 45.021%;
        height: 220px;
        margin-top: 0px;
    }

    .busiInner:nth-child(2) .busitxt {
        margin-top: 45px;
        height: 173px;
    }

    .busiInner:nth-child(3) .busitxt {
        margin-top: 45px;
    }

    .busitxt strong {
        font-size: 3rem;
    }

    .busitxt p {
        font-size: 1.9rem;
        line-height: 1.6;
        margin: 25px 0px 20px;
    }

    .busitxt a {
        font-size: 1.5rem;
    }

    .section4 {
        height: 1632px;
    }

    .testWrap {
        width: 90.234%;
        height: 910px;
    }

    .testInner {
        height: 356px;
    }

    .testbox {
        width: 32.467%;
        height: 250px;
    }

    .testbox:nth-child(2) {
        margin: 0px 1.3%;
    }

    .testbox:nth-child(1) span {
        height: 250px;
        background-size: 80px 90px;
    }

    .testbox:nth-child(2) span {
        height: 250px;
        background-size: 100px 100px;
    }

    .testbox:nth-child(3) span {
        height: 250px;
        background-size: 100px 100px;
    }

    .testbox h4 {
        font-size: 2.3rem;
        margin-top: 80px;
    }

    .test_txt {
        margin-top: 375px;
        height: 183px;
    }

    .test_txt strong {
        font-size: 2.7rem;
    }

    .test_txt p {
        font-size: 2rem;
        line-height: 1.5;
    }

    .section5 {
        height: 844px;
    }

    .storeWrap {
        height: 410px;
    }

    .storeBox {
        width: 90.234%;
        height: 410px;
    }

    .storeslick {
        width: 85.930%;
        height: 410px;
    }

    .storeInner {
        width: 100%;
        height: 410px;
    }

    .store1 {
        width: 100%;
        height: 320px;
        padding-right: 11.838%;
    }

    .store2 {
        width: 100%;
        height: 320px;
        padding-left: 11.838%;
    }

    .store3 {
        width: 100%;
        height: 320px;
        padding-right: 11.838%;
    }

    .store4 {
        width: 100%;
        height: 320px;
        padding-left: 11.838%;
    }

    .store5 {
        width: 100%;
        height: 320px;
        padding-right: 11.838%;
    }

    .store6 {
        width: 100%;
        height: 320px;
        padding-left: 11.838%;
    }

    .store7 {
        width: 100%;
        height: 320px;
        padding-right: 11.838%;
    }

    .store8 {
        width: 100%;
        height: 320px;
        padding-left: 11.838%;
    }


    /* 1024 스토어 슬라이드 버튼 */
    .storeslick .slick-next {
        right: -8.3%;
    }

    .storeslick .slick-prev {
        left: -8.3%;
    }

    .storeInner h4 {
        height: 90px;
        font-size: 2.5rem;
        margin-top: 65px;
    }

    .foot {
        height: 580px;
        padding: 62px 0px 30px 0px;
    }

    .ft_top {
        height: 170px;
    }

    .footWrap {
        width: 90.234%;
        height: 489px;
    }

    .footWrap1 {
        width: 75%;
        /*633*/
        height: 170px;
    }

    .footInner {
        float: left;
        margin: 0;
        width: 18.8%;
        /*119*/
        height: 170px;
    }

    .footInner ul li {
        display: block;
        line-height: 1.7;
    }

    .footInner a {
        font-size: 1.3rem;
        text-decoration: none;
    }

    .footInner .hr {
        border: 0.5px solid #ffffff;
        width: 120px;
        margin: 11px 0px 14px 0px;
    }

    .footInner:nth-child(2) {
        margin-left: 8.056%;
    }

    .footInner:nth-child(3) {
        margin-left: 8.056%;
    }

    .footInner:nth-child(4) {
        margin-left: 8.056%;
    }

    #ft_sns {
        width: 19%;
        /*167*/
        height: 96px;
    }

    .footWrap2 {
        border: none;
        width: 103px;
        height: 13px;
        padding: 0;
    }

    .footWrap2 a {
        font-size: 1.3rem;
        font-weight: normal;
    }

    .footWrap2 span {
        font-size: 1.3rem;
        font-weight: normal;
    }

    .footWrap3 {
        width: 167px;
        height: 50px;
        margin-top: 33px;
    }

    .footWrap3 a:nth-child(3) {
        width: 50px;
        height: 50px;
    }

    .ft_bottom p {
        display: block;
    }

    .ft_bt {
        width: 100%;
        height: 100px;
        margin-top: 218px;
    }

    .ft_bottom {
        float: left;
        width: 603px;
        height: 100px;
        color: #ffffff;
    }

    .ft_bottom p span {
        font-size: 1.3rem;
        line-height: 1.6;
        text-indent: 0;
    }

    .ft_logo {
        float: right;
        width: 160px;
        height: 35px;
        margin-top: 61px;
    }

    .ft_logo a {
        width: 160px;
        height: 35px;
    }

    .go_top {
        right: 4.882%;
        bottom: 642px;
    }
}

/*1280*/
@media screen and (min-width:1280px) {
    #menuicon {
        display: none;
        /*모바일메뉴*/
    }

    .headInner {
        width: 84.375%;
        height: 30px;
        margin: 40px auto 0px;
    }

    #headWrap nav {
        display: block;
    }

    #navWrap {
        width: 82.037%;
        height: 30px;
        margin-left: 17.962%;
    }

    .navInner {
        float: left;
        width: 740px;
    }

    .navInner ul li a {
        font-size: 2.5rem;
        color: #fff;
        margin-right: 65px;
    }

    .navInner ul li a:hover {
        text-decoration: underline;
        text-underline-position: under;
    }

    #main-menu>li {
        float: left;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    #main-menu {
        display: inline-block;
    }

    /*서브메뉴 떨어지게*/
    .sub {
        position: absolute;
        /*width: max-content;*/
        top: 100%;
        left: -600px;
        width: 2000px;
        margin-top: 2px;
        min-height: 300px;


        box-sizing: border-box;
        background: #000;
        padding: 50px 80px;
        box-shadow: 0 0 35px rgb(0 0 0 / 10%);
        border-radius: 4px;
        border: 0;

        text-align: center;
        display: none;
    }

    .sub2 {
        position: absolute;
        /*width: max-content;*/
        top: 100%;
        left: -900px;
        width: 2000px;
        margin-top: 2px;
        min-height: 300px;
        box-sizing: border-box;
        background: #000;
        padding: 50px 80px;
        box-shadow: 0 0 35px rgb(0 0 0 / 10%);
        border-radius: 4px;
        border: 0;
        text-align: center;
        display: none;
    }

    .sub3 {
        position: absolute;
        /*width: max-content;*/
        top: 100%;
        left: -900px;
        width: 2000px;
        margin-top: 2px;
        min-height: 300px;
        box-sizing: border-box;
        background: #000;
        padding: 50px 80px;
        box-shadow: 0 0 35px rgb(0 0 0 / 10%);
        border-radius: 4px;
        border: 0;
        text-align: center;
        display: none;
    }

    .sub4 {
        position: absolute;
        /*width: max-content;*/
        top: 100%;
        left: -1100px;
        width: 2000px;
        margin-top: 2px;
        min-height: 300px;
        box-sizing: border-box;
        background: #000;
        padding: 50px 80px;
        box-shadow: 0 0 35px rgb(0 0 0 / 10%);
        border-radius: 4px;
        border: 0;
        text-align: center;
        display: none;
    }

    /*메뉴 여백 음영처리*/
    #rgbblack {
        background: rgb(0 0 0 / 40%);
        display: none;
        height: 10000px;
        width: 100%;
        margin-top: 260px;
        z-index: 9999;
        position: fixed;
    }

    .manutxt {
        font-size: 2.5rem;
        color: #fff;
    }

    .dropdown-menu {
        padding: 9px 4px 9px 3px;
        display: inline-block;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .nav_icon {
        float: right;
        width: 130px;
        height: 30px;
    }

    .nav_icon li {
        float: left;
    }

    .nav_icon li:nth-child(1) {
        width: 33px;
        height: 29px;
        background: url(../images/car.png) no-repeat center/contain;
    }

    .nav_icon li:nth-child(2) {
        width: 28px;
        height: 28px;
        background: url(../images/mypage.png)no-repeat center/contain;
        margin: 0px 18px 0px;
    }

    .nav_icon li:nth-child(3) {
        width: 27px;
        height: 27px;
        background: url(../images/search.png)no-repeat center/contain;
    }

    /*1280 메인*/
    .brandInner {
        width: 84.375%;
        height: 1098px;
    }

    .brandInner span {
        height: 800px;
        background-position-x: 25%;
    }

    .brandtxt {
        margin-top: 50px;
    }

    .brandtxt h3 {
        font-size: 4rem;
        margin-bottom: 40px;
        height: 40px;
    }

    .brandtxt strong {
        line-height: 1.6;
        font-size: 2.5rem;
    }

    .brandtxt p {
        margin-top: 35px;
        line-height: 1.7;
        font-size: 1.8rem;
    }

    .section2 {
        height: 1662px;
    }

    .macgirl {
        margin-bottom: 122px;
    }

    .memberInner {
        height: 819px;
    }

    .svcInner {
        width: 84.375%;
        height: 550px;
    }

    .svcBox {
        width: 31.667%;
        height: 550px;
    }

    .svcBox:nth-child(2) {
        margin: 0px 2.5%;
    }

    .memboxWrap {
        width: 100%;
        height: 550px;
    }

    .memboxInner1 {
        width: 100%;
        height: 550px;
    }

    .memboxInner1 h4 {
        font-size: 2.8rem;
    }

    .memboxInner2 {
        width: 100%;
        height: 550px;
    }

    .memboxInner2 h4 {
        font-size: 2.8rem;
    }

    .memboxInner3 {
        width: 100%;
        height: 550px;
    }

    .memboxInner3 h4 {
        font-size: 2.8rem;
    }

    .pcback {
        margin-top: 339px;
    }

    .proview {
        width: 84.375%;
    }

    .memberInner a {
        font-size: 2.5rem;
        margin-top: 30px;
    }

    .section3 {
        height: 3440px;
    }

    .busiWrap {
        width: 84.375%;
        height: 2831px;
    }

    .busiInner {
        height: 900px;
    }

    .busiInner:nth-child(2) {
        width: 63.333%;
        height: 915px;
    }

    .busiInner:nth-child(3) {
        height: 848px;
        margin-top: 83px;
    }

    .busiInner:nth-child(1) span {
        float: left;
        width: 55.370%;
        height: 900px;
    }

    .busiInner:nth-child(2) span {
        height: 700px;
    }

    .busiInner:nth-child(3) span {
        width: 84.259%;
    }

    .busiInner:nth-child(1) .busitxt {
        float: right;
        width: 40%;
        height: 245px;
        margin-top: 0px;
    }

    .busiInner:nth-child(2) .busitxt {
        margin-top: 40px;
    }

    .busiInner:nth-child(3) .busitxt {
        margin-top: 40px;
    }

    .busitxt strong {
        font-size: 3.5rem;
    }

    .busitxt p {
        font-size: 2rem;
        line-height: 1.5;
        margin: 30px 0px 20px;
    }

    .busitxt a {
        font-size: 1.5rem;
    }

    .section4 {
        height: 1620px;
    }

    .testWrap {
        width: 84.375%;
        height: 935px;
    }

    .testInner {
        height: 367px;
    }

    .testbox {
        width: 27.778%;
    }

    .testbox:nth-child(2) {
        margin: 0px 8.333%;
    }

    .testbox:nth-child(1) span {
        background-size: 95px 120px;
    }

    .testbox:nth-child(2) span {
        background-size: 120px 120px;
    }

    .testbox:nth-child(3) span {
        background-size: 120px 120px;
    }

    .testbox h4 {
        margin-top: 85px;
        font-size: 2.7rem;
    }

    .test_txt {
        height: 193px;
    }

    .test_txt strong {
        font-size: 3.2rem;
    }

    .test_txt p {
        font-size: 2.3rem;
        line-height: 1.5;
    }

    .section5 {
        height: 1030px;
    }

    .storeWrap {
        height: 550px;
    }

    .storeBox {
        width: 84.375%;
        height: 550px;
    }

    .storeslick {
        width: 88.889%;
        height: 550px;
    }

    .storeInner {
        width: 30.927%;
        height: 550px;
        padding: 20% 0px;

    }

    .slick-center .storeInner {
        transform: scale(1.3);
        transition: transform 0.4s;
    }

    .storeInner span {
        width: 100%;
        height: 320px;

    }

    .store1 {
        width: 100%;
        height: 320px;
        padding-right: 0%;
    }

    .store2 {
        width: 100%;
        height: 320px;
        padding-left: 0%;
    }

    .store3 {
        width: 100%;
        height: 320px;
        padding-right: 0%;
    }

    .store4 {
        width: 100%;
        height: 320px;
        padding-left: 0%;
    }

    .store5 {
        width: 100%;
        height: 320px;
        padding-right: 0%;
    }

    .store6 {
        width: 100%;
        height: 320px;
        padding-left: 0%;
    }

    .store7 {
        width: 100%;
        height: 320px;
        padding-right: 0%;
    }

    .store8 {
        width: 100%;
        height: 320px;
        padding-left: 0%;
    }

    /* 1280스토어 슬라이드 버튼 */
    .storeslick button {
        transform: translateY(-70%);
    }

    .storeslick .slick-next {
        right: -6.3%;
    }

    .storeslick .slick-prev {
        left: -6.3%;
    }

    .storeInner h4 {
        font-size: 3rem;
        margin-top: 70px;
    }

    .slick-center .storeInner h4 {
        font-size: 2.5rem;
        margin-top: 40px;
    }

    .storesearch {
        margin-top: 150px;
        height: 70px;
    }

    .storesearch p {
        font-size: 2.5rem;
        width: 57%;
        height: 25px;
        margin-bottom: 25px;
    }

    .storesearch a {
        font-size: 1.9rem;
    }

    .storesearch a span {
        width: 14px;
        height: 14px;
    }

    .foot {
        height: 580px;
        padding: 59px 0px 40px 0px;
    }

    .footWrap {
        width: 84.375%;
        height: 482px;
    }

    .ft_top {
        height: 195px;
    }

    .footWrap1 {
        width: 60.556%;
        /*654*/
        height: 195px;
    }

    .footInner {
        width: 21.712%;
        /*142*/
        height: 195px;
    }

    .footInner ul li {
        line-height: 1.4;
    }

    .footInner a {
        font-size: 1.6rem;
    }

    .footInner .hr {
        width: 140px;
        margin: 9px 0px 11px 0px;
    }

    .footInner:nth-child(2) {
        margin-left: 4.3%;
    }

    .footInner:nth-child(3) {
        margin-left: 4.3%;
    }

    .footInner:nth-child(4) {
        margin-left: 4.3%;
    }

    #ft_sns {
        width: 16%;
        /*166*/
        height: 88px;
    }

    .footWrap2 {
        border: none;
        width: 118px;
        height: 16px;
        padding: 0;
    }

    .footWrap2 a {
        font-size: 1.6rem;
    }

    .footWrap2 span {
        font-size: 1.6rem;
    }

    .footWrap3 {
        width: 166px;
        height: 50px;
        margin-top: 21px;
    }

    .ft_bt {
        height: 120px;
        margin-top: 165px;
    }

    .ft_bottom {
        width: 65%;
    }

    .ft_bottom p span {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .ft_logo {
        width: 209px;
        height: 45px;
        margin-top: 72px;
    }

    .ft_logo a {
        width: 100%;
        height: 45px;
    }

    .go_top {
        right: 7.812%;
        bottom: 655px;
    }

}

/*1550*/
@media screen and (min-width:1550px) {
    .headInner {
        width: 1512px;
        height: 30px;
        margin: 40px auto;
    }

    .sub {
        left: -1100px;
        width: 3000px;
    }

    .sub2 {
        left: -1400px;
        width: 3000px;
    }

    .sub3 {
        left: -1400px;
        width: 3000px;
    }

    .sub4 {
        left: -1500px;
        width: 3000px;
    }

    .brandInner {
        width: 1512px;
        margin: 0 auto;
    }

    .svcInner {
        width: 1512px;
        margin: 0 auto;
    }

    .svcBox {
        width: 435px;
        height: 475px;
    }

    .svcBox:nth-child(2) {
        margin: 0px 102px;
    }

    .proview {
        width: 1512px;
    }

    .busiWrap {
        width: 1512px;
        height: 2884px;
    }

    .busiInner:nth-child(1) span {
        float: left;
        width: 704px;
    }

    .busiInner:nth-child(1) .busitxt {
        width: 704px;
        height: 277px;
    }

    .busiInner:nth-child(2) {
        width: 704px;
        height: 1053px;
        margin-top: -144px;
    }

    .busiInner:nth-child(2) span {
        width: 100%;
        height: 800px;
    }

    .busiInner:nth-child(2) .busitxt {
        margin-top: 50px;
        height: 173px;
    }

    .busiInner:nth-child(3) {
        width: 1047px;
        height: 895px;
        margin-top: 180px;
    }

    .busiInner:nth-child(3) span {
        width: 1047px;
        height: 600px;
    }

    .busiInner:nth-child(3) .busitxt {
        margin-top: 50px;
    }

    .busitxt p {
        font-size: 2.5rem;
        line-height: 1.5;
        margin: 40px 0px 30px;
    }

    .testWrap {
        width: 1512px;
    }

    .testbox {
        width: 406px;
    }

    .testbox:nth-child(2) {
        margin: 0px 146px;
    }

    .testbox:nth-child(1) span {
        background-size: 105px 130px;
    }

    .testbox:nth-child(2) span {
        background-size: 130px 130px;
    }

    .testbox:nth-child(3) span {
        background-size: 130px 130px;
    }

    .section5 {
        height: 1050px;
    }

    .storeBox {
        width: 1512px;
    }

    .storeslick {
        width: 1452px;
        padding: 0px 33px;
    }

    /* 1550스토어 슬라이드 버튼 */
    .storeslick button {
        transform: translateY(-40%);
    }

    .storeslick .slick-next {
        right: -2.1%;
    }

    .storeslick .slick-prev {
        left: -2.1%;
    }

    .slick-center .storeInner {
        transform: scale(1.4);
        transition: transform 0.4s;
    }

    .storeInner h4 {
        font-size: 2.7rem;
        margin-top: 50px;
    }

    .foot {
        height: 550px;
        padding: 40px 0px 40px 0px;
    }

    .footWrap {
        width: 1512px;
        height: 470px;
        margin: 0 auto;
    }

    .ft_top {
        height: 215px;
    }

    .footWrap1 {
        width: 839px;
        height: 215px;
    }

    .footInner {
        width: 150px;
        height: 215px;
    }

    .footInner ul li {
        line-height: 1.4;
    }

    .footInner a {
        font-size: 1.8rem;
    }

    .footInner:nth-child(2) {
        margin-left: 79px;
    }

    .footInner:nth-child(3) {
        margin-left: 79px;
    }

    .footInner:nth-child(4) {
        margin-left: 79px;
    }

    #ft_sns {
        width: 168px;
        height: 100px;
    }

    .footWrap2 {
        width: 136px;
        height: 18px;
    }

    .footWrap2 a {
        font-size: 1.8rem;
    }

    .footWrap3 {
        width: 168px;
        height: 50px;
        margin-top: 30px;
    }

    .ft_bt {
        height: 147px;
        margin-top: 105px;
    }

    .ft_bottom {
        width: 809px;
        height: 147px;
    }

    .ft_bottom p span {
        font-size: 1.8rem;
        line-height: 1.6;
    }

    .ft_logo {
        width: 209px;
        height: 45px;
        margin-top: 99px;
    }

    .go_top {
        width: 75px;
        height: 75px;
        padding: 26px 0px;
        right: 6.451%;
        bottom: 625px;
    }

    .go_top p {
        font-size: 2.2rem;
    }

}